.loginComponent{
  .width {
    width: 340px;
  }
  .width-400 input {
    margin-top: 10px;
  }
  .login-box {
    box-shadow: 0 0 10px -1px #8c8c8c;
    margin-top: 8%;
  }

  .login-avater{
    max-height: 15%;max-width: 65%; padding: 15px
  }
}
