
#footer {
  background-color: #EA2D27;
  color: #ffffff;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  margin-bottom: 0px;
  box-shadow: 0 0 7px rgba(0,0,0,.34);
  overflow-wrap: break-word;
  padding: 5px 15px;
  text-align: center;

}